<html>
<head>
    <body>

    <center><h1 style="color:darkorange">Booking history</h1></center>

 <div class="col-12" style="font-size:15px">
                        <div style="width:1500px;height:1000px;border: 5px solid black;" >
<!--                            <h6 class="mb-4" style="font-size:20px;margin-top:50px;">DISPLAY PAGE</h6>-->
                            <div class="table-responsive" style="border:5px solid black;">
                                <table class="table" style="width:1000px;height:100px;border: 5px solid black;">
                                    <thead>
                                        <tr>

                                            <th scope="col"> Name</th>
                                            <th scope="col">destination place</th>
                                            <th scope="col">Rate your journey</th>

                                        </tr>


                                    </thead>
                                    <tbody>
                                    {% for i in data %}
                                        <tr>
                                          <td>{{i.name}}</td>

                                          <td>{{i.destination_place}}</td>




                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
</body>
</html>


